@import 'tailwindcss';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-display: swap;
}

:root{
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 16px;
}

